version: '3.9'

services:
  api:
    build: ./api
    container_name: api-container
    ports:
      - "5000:5000"
    environment:
      - ENV=dev

  app:
    build: ./app
    container_name: app-container
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:80
    depends_on:
      - api
